/*******************************************************************************
 *                                                                             *
 * Password Field                                                              *
 *                                                                             *
 ******************************************************************************/

.password-field {
    -fx-skin: "gr.codebb.codebblib.fxcontrols.skin.FXPasswordFieldSkin";
}

.password-field {
    -right-button-visible: true;
}
.password-field > .right-button {
    -fx-padding: 0.166667em 0.083333em 0.166667em 0.166667em;
}

.password-field > .right-button > .right-button-graphic {
    -fx-shape: "M307.688,399.564c0,1.484-1.203,2.688-2.688,2.688c-1.484,0-2.688-1.203-2.688-2.688s1.203-2.688,2.688-2.688C306.484,396.876,307.688,398.08,307.688,399.564z M297.5,399h2.5c0,0,1.063-4,5-4c3.688,0,5,4,5,4h2.5c0,0-2.063-6.5-7.5-6.5C299,392.5,297.5,399,297.5,399z";
    /*-fx-shape: "M1,9c0,0,4-8,11-8s11,8,11,8s-4,8-11,8S1,9,1,9z M12,6c1.7,0,3,1.3,3,3s-1.3,3-3,3s-3-1.3-3-3S10.3,6,12,6z";*/

    -fx-scale-shape: true;
    -fx-pref-width: 14px;
    -fx-pref-height: 10px;

    -fx-background-color: #111;

    /*
    -fx-border-color: #111;
    -fx-border-width: 1px;
    */
}

